@import "mixins";

@include hostBaseStyle;

:host {
  padding: unset;
}

// wrapper is not scrollable therefore overlay stays in a fixed position
.overlay-wrapper {
  flex: 1 1 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 0;
    overflow-y: scroll;
    padding: 5px 5px 0 5px;
    position: relative;

    .mat-mdc-card {
      .app-image {
        max-height: 250px;
      }

      &:last-of-type {
        margin-bottom: 3px;
      }

      .mat-mdc-card-content {
        margin-top: 5px;
      }
    }
  }
}
