@import "mixins";

@include hostBaseStyle;

:host {
  overflow-y: scroll;
}

.profile-image {
  width: 100%;
  max-width: 250px;
  align-self: center;
  position: relative;
  display: flex;

  .mat-mdc-mini-fab {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.mat-divider {
  margin: 5px 0;
  flex: 0 0 auto;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  form {
    display: flex;
    flex-direction: column;
  }

  app-loading-button {
    margin-bottom: 20px;
  }
}

.position-share-settings {
  display: flex;
  justify-content: space-between;

  .mat-mdc-checkbox {
    margin-bottom: 10px;
  }
}
