:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
}

.activation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
