@import "colors";
@import "mixins";

@include hostBaseStyle(true);

:host {
  position: relative;
}

// wrapper is not scrollable therefore overlay stays in a fixed position
.overlay-wrapper {
  flex: 1 1 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 0;
    overflow-y: scroll;
    padding: 5px 5px 0 5px;
    position: relative;

    .social-media-post {
      .mat-mdc-card-content {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    .image {
      .description {
        margin-top: 10px;
      }
    }
  }
}
