<div class="overlay-wrapper">
  <div class="products">
    <mat-card *ngFor="let product of products; index as i">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.price }} Punkte</mat-card-subtitle>
      </mat-card-header>

      <app-image
        class="app-image"
        [src]="[
          'assets/loading.png',
          'assets/product-placeholder.webp',
          'productImage',
          product.imagePath
        ]"
      ></app-image>
      <mat-card-content>
        <mat-checkbox [formControl]="formArray.at(i)">Freigegeben</mat-checkbox>
      </mat-card-content>
      <mat-card-actions align="end">
        <app-loading-button
          [disabled]="isLoading"
          color=""
          (_click)="updateProduct(i)"
          >Speichern</app-loading-button
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <app-overlay *ngIf="isLoading"></app-overlay>
</div>
<mat-paginator
  [hidePageSize]="true"
  [length]="length"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
>
</mat-paginator>
<button mat-fab color="primary" (click)="addProduct()">
  <mat-icon>add</mat-icon>
</button>
