<h2 mat-dialog-title>Datenschutz</h2>
<mat-dialog-content>
  <h1>Datenschutzerklärung</h1>

  <h2>1. Warum diese Erklärung?</h2>
  <p>
    Im Folgenden informieren wir über die Erhebung personenbezogener Daten bei
    Nutzung dieses Internetangebotes. Personenbezogene Daten sind alle Daten,
    die auf Sie persönlich beziehbar sind, also z. B. Name, Adresse,
    E-Mail-Adresse, Nutzerverhalten. Hierzu sind wir gemäß § 13 Abs. 1 der
    EU-Datenschutz-Grundverordnung (Verordnung EU 2016/679, kurz: DS-GVO)
    verpflichtet.
  </p>

  <h2>2. Wer ist verantwortlicher Anbieter?</h2>
  <p>Verantwortlich ist:</p>
  <p>Alexander Coerdt</p>
  <p>Jungfernstieg 34</p>
  <p>24116 Kiel</p>
  <p>
    <a href="mailto:alexander.coerdt@iubh-fernstudium.de"
      >alexander.coerdt&#64;iubh-fernstudium.de</a
    >
  </p>

  <h2>3. Welche Rechte habe ich?</h2>
  <p>
    Ihre Rechte in Bezug auf die Nutzung Sie betreffende Daten durch uns ergibt
    sich im Wesentlichen aus der DS-GVO und ergänzend aus dem
    Bundesdatenschutzgesetz.
  </p>
  <p>
    Danach haben Sie uns gegenüber folgende Rechte hinsichtlich der Sie
    betreffenden personenbezogenen Daten:
  </p>
  <ul>
    <li>Recht auf Auskunft (vgl. Art. 15 DS-GVO und § 34 BDSG)</li>
    <li>Recht auf Berichtigung (vgl. Art. 16 DS-GVO)</li>
    <li>
      Recht auf Löschung ("Recht auf Vergessenwerden", vgl. Art. 17 DS-GVO und §
      35 BDSG)
    </li>
    <li>Recht auf Einschränkung der Verarbeitung (vgl. Art. 18 DS-GVO)</li>
    <li>
      Recht auf Widerspruch der Verarbeitung (vgl. Art. 21 Abs. 1 DS-GVO und §
      36 BDSG)
    </li>
    <li>Recht auf Datenübertragung (vgl. Art. 20 Abs. 1 DS-GVO)</li>
  </ul>
  <p>
    Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbehörde zu
    beschweren, wenn Sie der Meinung sind, dass wir bei der Erhebung,
    Verarbeitung oder Nutzung Ihrer persönlichen Daten datenschutzrechtliche
    Bestimmungen missachtet haben.
  </p>
  <p>
    Wenn Sie eine Einwilligung zur Nutzung von Daten erteilt haben, können Sie
    diese jederzeit widerrufen (vgl. Art. 7 Abs. 3 DS-GVO).
  </p>

  <h2>4. Welche Daten werden erhoben und gespeichert?</h2>
  <p>
    Bei der bloß informatorischen Nutzung dieses Internetangebots erheben wir
    keine personenbezogenen Daten, mit Ausnahme der Daten, die Ihr Browser
    übermittelt, um Ihnen den Besuch und die Nutzung zu ermöglichen. Eine nur
    informatorische Nutzung bedeutet, dass Sie sich nicht für einen Newsletter
    oder eine Veranstaltung anmelden oder uns sonst Informationen übermitteln.
    Ihr Browser überträgt folgende Daten:
  </p>
  <ul>
    <li>IP-Adresse</li>
    <li>Datum und Uhrzeit der Anfrage</li>
    <li>Zeitzonendifferenz zur Greenwich Mean Time (GMT)</li>
    <li>Inhalt der Anforderung (konkrete Internet-Seite)</li>
    <li>Zugriffsstatus/HTTP-Statuscode</li>
    <li>jeweils übertragene Datenmenge in Byte</li>
    <li>Webseite, von der die Anforderung kommt (Link)</li>
    <li>verwendeter Browser</li>
    <li>Betriebssystem und dessen Oberfläche</li>
    <li>Sprache und Version der Browsersoftware</li>
  </ul>
  <p>
    Diese Daten werden auf Webserver-Ebene in einer Protokolldatei (einem
    sogenannten Logfile) für die Dauer von maximal 14 Tagen gespeichert.
  </p>

  <h2>5. Registrierung auf unserer Webseite</h2>
  <p>
    Um bestimmte Funktionen und Dienste unserer Webseite nutzen zu können,
    müssen Sie sich registrieren. Bei der Registrierung werden folgende
    personenbezogene Daten von Ihnen erhoben und gespeichert:
  </p>
  <ul>
    <li>E-Mail-Adresse</li>
    <li>Passwort</li>
  </ul>
  <p>Diese Daten werden zu folgenden Zwecken verarbeitet:</p>
  <ul>
    <li>
      Zur Bereitstellung der auf unserer Webseite angebotenen Dienste und
      Funktionen
    </li>
    <li>Zur Verwaltung Ihres Benutzerkontos</li>
    <li>
      Zur Kommunikation mit Ihnen im Zusammenhang mit Ihrer Nutzung der Webseite
    </li>
  </ul>

  <h2>6. Nutzung personenbezogener Daten</h2>
  <p>
    Für bestimmte Funktionen und Dienste unserer Webseite werden folgende
    personenbezogenen Daten verwendet:
  </p>
  <ul>
    <li>E-Mail-Adresse</li>
    <li>Benutzername</li>
    <li>Wohnort im Sinne der Stadt</li>
    <li>Standortdaten</li>
  </ul>
  <p>
    Diese Daten werden zum Zweck der Personalisierung der Standortanzeige
    verwendet.
  </p>

  <h2>7. Nutzung des Feedback-Formulars</h2>
  <p>
    Wenn Sie als registrierter Nutzer unser Feedback-Formular nutzen,
    verarbeiten wir die folgenden Daten:
  </p>
  <ul>
    <li>Ihre Nachricht</li>
    <li>Ihren Benutzernamen</li>
    <li>Ihre E-Mail-Adresse</li>
    <li>Datum und Uhrzeit der Absendung</li>
  </ul>
  <p>
    Diese Daten werden zum Zweck der Bearbeitung Ihres Feedbacks verarbeitet.
  </p>

  <h2>8. Werden bei diesem Angebot Cookies verwendet?</h2>
  <p>
    Bei der Nutzung unseres Internetangebotes werden Cookies auf Ihrem Gerät
    gespeichert.
  </p>
  <p>
    Ein Cookie ist ein kurzer Eintrag in einem speziellen Dateiverzeichnis Ihres
    Geräts. Ein Cookie dient dem Austausch von Informationen zwischen
    Computerprogrammen oder der zeitlich beschränkten Archivierung von
    Informationen. Cookies können keine Programme ausführen oder Viren auf Ihren
    Computer übertragen. Sie dienen dazu, das Internetangebot insgesamt
    nutzerfreundlicher und effektiver zu machen. So tragen Cookies zum Beispiel
    dazu bei, dass die gewählte Schriftgröße beim Aufruf verschiedener
    Unterseiten gleich bleibt.
  </p>
  <p>
    Die meisten Browser (zum Beispiel Internet Explorer und Firefox) sind so
    eingestellt, dass sie Cookies automatisch akzeptieren. Sie können das
    Speichern von Cookies jedoch deaktivieren oder Ihren Browser so einstellen,
    dass Cookies nur für die Dauer der jeweiligen Verbindung zum Internet
    gespeichert werden.
  </p>
  <p>
    Wir verwenden Cookies, um Ihren Anmeldestatus auf unserer Website zu
    erkennen.
  </p>

  <h2>9. Einbindung von OpenStreetMap</h2>
  <p>
    Wir nutzen den Open-Source-Karten-Dienst "OpenStreetMaps" (= "OSM") zur
    Darstellung von Geo-Daten. Anbieter ist die Firma OpenStreetMap Foundation.
    OSM dient dazu, eine interaktive Karte auf unserer Webseite anzubieten, die
    Ihnen zeigt, wo sich wichtige Orte wie zum Beispiel Recyclingcentren oder
    Startpunkte von Müllsammelaktionen befinden. Zur Nutzung von OSM ist die
    Speicherung der IP-Adresse Ihres Endgerätes notwendig, außerdem wird das
    Kartenmaterial von einem externen Server geladen.
  </p>
  <p>
    Die Nutzung von OSM erfolgt im Interesse einer ansprechenden Darstellung
    unserer Online-Angebote und an einer leichten Auffindbarkeit der von uns auf
    der Website angegebenen Orte; dies stellt ein berechtigtes Interesse im
    Sinne von Art. 6 Abs. 1 lit. f DSGVO dar (Berechtigtes Interesse an der
    Datenverarbeitung).
  </p>
  <p>
    Adresse und Link zu den Datenschutzhinweisen des Drittanbieters:<br />
    OpenStreetMap Foundation CLG, 132 Maney Hill Road, Sutton Coldfield, West
    Midlands, B72 1JU, United Kingdom
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
