<form [formGroup]="formGroup" (ngSubmit)="sendNotification()" #f="ngForm">
  <mat-form-field>
    <mat-label>Titel</mat-label>
    <input formControlName="title" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Textkörper</mat-label>
    <textarea formControlName="body" [rows]="5" matInput></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ziel</mat-label>
    <mat-select formControlName="url">
      <mat-option *ngFor="let targetUrl of targetUrls" [value]="targetUrl">{{
        targetUrl
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <app-loading-button
    [showSpinner]="isLoading"
    [disabled]="isLoading || formGroup.status !== 'VALID'"
    >Senden</app-loading-button
  >
</form>
